*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1C6AB2;
}

html{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(235, 235, 235);
}

/*#region*/ /*Barra de navegacion*/

nav{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.nav_fondo{
    display: flex;
    background-color: #21AEBD;
    width: 100%;
    height: 130px;
}

#logo_nav{
    width: 8rem;
    border-radius: 50%;
    padding: 1rem;
}

nav ul {
    display: flex;
    align-items:center;
    list-style: none;
    flex-wrap: wrap;
}

.nav_ul{
    padding-left: 2rem;
    padding-top: -2rem;
}

.nav_ul_contacto{
    padding-top: 1rem;

}
    
nav ul li a {
    padding: 1em;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s ease;
}
    
nav ul li a:hover {
    color: red;
}

/*#endregion*/
    
/*#region*/ /*Estilos del main*/

main{
    padding: 2rem;
    padding-top: 25vh;
}
main p{
    font-size: 1.5rem;
    text-align: justify;
    align-items: center;
}


/*#endregion*/

/*#region*/ /*Estilos productos*/

.video{
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.producto p{
    padding: 1rem;
}
/*#endregion*/

/*#region*/ /*Formulario*/

#form-title{
    text-align: center;
} 
.row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.flex-column-form {
    flex-basis: 50%;
    margin-right: 50px;
}

.btn-primary{
    margin-bottom: 10px;
}
/*#endregion*/

/*#region*/ /*Etiquetas semánticas*/

h1{
    padding: 2rem 0.5rem;
    color: #000000;
}

h2{
    padding: 2rem 0.5rem ;
    padding-bottom: 1rem;
    color: #000000;
    background-color: rgb(235, 235, 235);
}

h3{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
    background-color: rgb(235, 235, 235);
}

footer h3{
    padding-top: 2rem;
}

img{
    width: 60%;
    border-radius: 15px;
}

#imagen_index{
    display: flex;
    justify-content: center;
    padding: 5%;
}
/*#endregion*/

/*#region*/ /*estilos del footer*/
    
footer {
    height: 8rem;
    background-color: #21AEBD;
    padding: 0rem 2rem;
    margin-top: auto;
    margin-bottom: 0;
}

footer h3{
    color: #FFFFFF;
    background-color: #21AEBD;
}
        
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    list-style: none;
    padding: 0;
}
    
.redes li {
    margin-right: 20px;
    height: 40px;
    text-align: center;
}
    
.redes li:last-child {
    margin-right: 0;
    color:white;
}

.my-icon{
    color: white;
    width: 50px;
}
/*#endregion*/

/*#region*/ /*Estilos galeria*/

.container{
    display: grid;
    z-index: -1;
    gap:5rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

}
.container img{
    width: 100%;
    transition: all 300ms;
    position: relative;
}

.card{
    border-radius: 20px;
    width: 100%;
    height: 90%;
    min-height: 50px;
    padding: 1%;
}

.container img:hover{
    transform: scale(1.1);
    z-index: 1;
}

main p{
    padding-bottom: 3rem;
    padding-left: 1rem;
}
/*#endregion*/ 

/*#region*/ /*Animacion de párrafos*/
p{
    animation: fadein 1s; 
}
@keyframes fadein {
    0% {
        padding-left: 3%;
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

img #logo_nav:hover{
    width: 3rem;
}

.sobre-nosotros p{
    color: #EC66AD;
    background-color: rgb(235, 235, 245);
    padding:5%
}
/*#endregion*/


/*Estilos para dispositivos móviles*/

@media screen and (max-width: 600px) {
/*#region*/ /*Barra de navegacion*/

.nav_fondo{
    background-color: #EC66AD;
    height: 95px;
}

#logo_nav{
    width: 6rem;
}

.nav_ul{
    padding: 8px;
    padding-top: 12px;
} 

.nav_ul_contacto{
    padding: 8px;
    margin-bottom: 0;
    padding-bottom: 11px;
}

nav ul li{
    height: 1rem;
}
    
nav ul li a:hover {
    color: #1C6AB2;
}

/*#endregion*/
    
/*#region*/ /*Estilos del main*/

main{
    padding-top: 15vh;
}
main p{
    font-size: 1rem;
}

/*#endregion*/

/*#region*/ /*Estilos productos*/

.video{
    padding: 1rem;
}

.producto p{
    padding: 0.5rem;
    padding-left: 1rem;
}
/*#endregion*/

/*#region*/ /*Etiquetas semánticas*/


h3{
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    color: #EC66AD;
}

footer h3{
    padding-top: 0.5rem;
}

img{
    width: 100%;
}

/*#endregion*/

/*#region*/ /*estilos del footer*/
    
footer {
    height: 7rem;
    background-color: #EC66AD;
    padding: 0.5rem 1rem;
}

footer h3{
    background-color: #EC66AD;
    text-align: center;
}
        
.my-icon{
    color: white;
    width: 60px;
}

/*#endregion*/

/*#region*/ /*Estilos galeria*/

.container{
    gap: 0;
}

/*#endregion*/ 

/*#region*/ /*Sobre nosotros*/

.sobre-nosotros p{
    color: #1C6AB2;
    background-color: rgb(235, 235, 245);
    padding:5%
}

/*#endregion*/
}

/* Estilos para pantallas de tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {

/*#region*/ /*Barra de navegacion*/

.nav_fondo{
    background-color: #1C6AB2;
}

nav ul{
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav_ul_contacto{
    padding-left: 32px;
    margin-bottom: 0;
}

nav ul li a:hover {
    color: #F9CB1E;
}

/*#endregion*/
    
/*#region*/ /*Estilos del main*/

main{
    padding-top: 20vh;
}
main p{
    font-size: 1.2rem;
    padding-left: 1rem;
}

/*#endregion*/

/*#region*/ /*Estilos productos*/

.producto p{
    padding: 0.1rem;
    padding-left: 1rem;
}
/*#endregion*/

/*#region*/ /*Etiquetas semánticas*/

footer h3{
    padding-top: 1rem;
}

img{
    width: 80%;
}

/*#endregion*/

/*#region*/ /*estilos del footer*/
    
footer {
    height: 7rem;
    background-color: #1C6AB2;
    padding: 0.5rem 1rem;
}

footer h3{
    background-color: #1C6AB2;
    text-align: center;
}
        
/*#endregion*/

/*#region*/ /*Estilos galeria*/

.container{
    gap: 0.5rem;
}

/*#endregion*/ 

/*#region*/ /*Sobre nosotros*/

.sobre-nosotros p{
    color: #1C6AB2;
    background-color: rgb(235, 235, 245);
    padding:5%
}

/*#endregion*/
}
