*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1C6AB2;
}

html{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(235, 235, 235);
}

/*#region*/ /*Barra de navegacion*/

nav{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 3;
}

.nav_fondo{
    display: flex;
    background-color: #21AEBD;
}

#logo_nav{
    width: 8rem;
    border-radius: 50%;
    padding: 1rem;
}

nav ul {
    display: flex;
    align-items:center;
    list-style: none;
    flex-wrap: wrap;
}
    
nav ul li a {
    padding: 1em;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s ease;
}
    
nav ul li a:hover {
     color: red;
}

/*#endregion*/
    
/*#region*/ /*Estilos del main*/

main{
    padding: 3%;
    padding-top: 25vh;
}
main p{
    font-size: 1.5rem;
    text-align: justify;
    align-items: center;
}

/*#endregion*/

/*#region*/ /*Formulario*/

#form-title{
    text-align: center;
}
.row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column-form {
    flex-basis: 50%;
    margin-right: 50px;
}
/*#endregion*/

/*#region*/ /*Etiquetas semánticas*/

h1{
    padding: 2rem 0.5rem;
    color: #000000;
}

h2{
    padding: 2rem 0.5rem ;
    padding-bottom: 1rem;
    color: #000000;
}

h3{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
}

footer h3{
    padding-top: 2rem;
}

img{
    width: 60%;
    border-radius: 15px;
}

#imagen_index{
    display: flex;
    justify-content: center;
    padding: 5%;
}
/*#endregion*/

/*#region*/ /*estilos del footer*/
    
footer {
    height: 8rem;
    background-color: #21AEBD;
    padding: 0 50px;
    margin-top: auto;
}

footer h3{
    color: #FFFFFF;
}
        
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    list-style: none;
    padding: 0;
}
    
.redes li {
    margin-right: 20px;
    height: 40px;
}
    
.redes li:last-child {
    margin-right: 0;
}
/*#endregion*/

/*#region*/ /*Estilos galeria*/

.container{
    display: grid;
    z-index: -1;
    gap:5rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

}
.container img{
    width: 100%;
    transition: all 300ms;
    position: relative;
}

.card{
    border-radius: 20px;
    width: 100%;
    height: 90%;
    min-height: 50px;
    padding: 1%;
}

.container img:hover{
    transform: scale(1.1);
    z-index: 1;
}

/*#endregion*/ 

/*#region*/ /*Animacion de párrafos*/
p{
    animation: fadein 1s; 
}
@keyframes fadein {
    0% {
        padding-left: 3%;
        opacity:0;
    }
  
    100% {
        opacity:1;
    }
}

img #logo_nav:hover{
    width: 3rem;
}

.sobre-nosotros p{
    color: #EC66AD;
    background-color: rgb(235, 235, 245);
    padding:5%
}
/*#endregion*/